// main
$main: #333333;
$white: #FFFFFF;
$black: #000000;
//stroke
$stroke: #605DEC;

//violet
$violet-50: #EBEBF6;

// gray
$gray-100: #F2F2F2;
$gray-150: #E2E2E2;
$gray-300: #CCCCCC;
$gray-350: #AAAAAA;
$gray-500: #636363;
$gray-700: #3E3D3D;
$gray-750: #252525;
$gray-800: #1A1A1A;

//red
$red-50: #FFF5F5;
$red-100: #FFD8D8;
$red-300: #F93232;

//green
$green-50: #F1FFF4;
$green-150: #C0ECD4;
$green-300: #439F6E;
// box shadows
$box-shodow-main: 0px 0px 15px rgba(68, 68, 68, 0.25);

// fonts
$primary-font: "Bitter";
$secondary-font: "Raleway";
$roboto-font: "Roboto";
